@import "modal";

.bg-home-video {}

.bg-glass {
	background: var(--glass-bg);
}

.bg-home {
	background: linear-gradient(to left, rgb(29 27 49 / var(--tw-bg-opacity, 1)), rgb(17 16 29 / var(--tw-bg-opacity, 1)), rgb(29 27 49 / var(--tw-bg-opacity, 1)));
}

.discord-btn:hover svg path {
	fill: #5865F2;
}

.area {
	width: 100%;
	height: 100%
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	li {
		position: absolute;
		display: block;
		list-style: none;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		animation: animate 25s linear infinite;
		bottom: -150px;

		&:nth-child(1){
			left: 25%;
			width: 80px;
			height: 80px;
			animation-delay: 0s;
		}

		&:nth-child(2){
			left: 10%;
			width: 20px;
			height: 20px;
			animation-delay: 2s;
			animation-duration: 12s;
		}

		&:nth-child(3){
			left: 70%;
			width: 20px;
			height: 20px;
			animation-delay: 4s;
		}

		&:nth-child(4){
			left: 40%;
			width: 60px;
			height: 60px;
			animation-delay: 0s;
			animation-duration: 18s;
		}

		&:nth-child(5){
			left: 65%;
			width: 20px;
			height: 20px;
			animation-delay: 0s;
		}

		&:nth-child(6){
			left: 75%;
			width: 110px;
			height: 110px;
			animation-delay: 3s;
		}

		&:nth-child(7){
			left: 35%;
			width: 150px;
			height: 150px;
			animation-delay: 7s;
		}

		&:nth-child(8){
			left: 50%;
			width: 25px;
			height: 25px;
			animation-delay: 15s;
			animation-duration: 45s;
		}

		&:nth-child(9){
			left: 20%;
			width: 15px;
			height: 15px;
			animation-delay: 2s;
			animation-duration: 35s;
		}

		&:nth-child(10){
			left: 85%;
			width: 150px;
			height: 150px;
			animation-delay: 0s;
			animation-duration: 11s;
		}
	}

}

.gradient-background {
	background: linear-gradient(300deg,#0F0E1A, #1F1D35, #0F0E1A);
	background-size: 180% 180%;
	animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes animate {
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}

	80% {
		opacity: 0.9;
	}

	100%{
		transform: translateY(-100vh) rotate(720deg);
		opacity: 0;
	}
}

.pulse-loader {
	.pulse-circle {
		width: 150px;
		height: 150px;
	}

	.outer-circle {
		fill: rgba(255, 255, 255, 0.25);
		animation: outer-pulse 2s infinite ease-in-out;
	}

	.inner-circle-2 {
		fill: rgba(255, 255, 255, 0.35);
		animation: outer-pulse 2s infinite ease-in-out;
		animation-delay: 1s
	}

	//.inner-circle {
	//	fill: rgba(255, 255, 255, 0.35);
	//	animation: outer-pulse 1s infinite ease-in-out;
	//	animation-delay: 3s
	//}
}

@keyframes outer-pulse {
	0% {
		r: 0;
		opacity: 1;
	}
	100% {
		r: 60;
		opacity: 0;
	}
}

@keyframes inner-pulse {
	0% {
		r: 0;
	}
	100% {
		r: 30;
	}
}

@keyframes inner-pulse-2 {
	0% {
		r: 0;
	}
	100% {
		r: 15;
	}
}
